<div class="index">
  <div class="title">

  </div>
  <div class="buses grid">
    <div class="col-2">
      <p-card>
        <div>
          <img src="./assets/carbon_bus.svg">
        </div>
        <div>台北市 / 新北市</div>
        <div>Taipei / New Taipei</div>
      </p-card>
    </div>
    <div class="col-2">
      <p-card>
        <div>
          <img src="./assets/carbon_bus.svg">
        </div>
        <div>桃園市</div>
        <div>Taoyuan</div>
      </p-card>
    </div>
    <div class="col-2">
      <p-card>
        <div>
          <img src="./assets/carbon_bus.svg">
        </div>
        <div>台中市</div>
        <div>Taichung</div>
      </p-card>
    </div>
    <div class="col-2">
      <p-card>
        <div>
          <img src="./assets/carbon_bus.svg">
        </div>
        <div>台南市</div>
        <div>Tainan</div>
      </p-card>
    </div>
    <div class="col-2">
      <p-card>
        <div>
          <img src="./assets/carbon_bus.svg">
        </div>
        <div>高雄市</div>
        <div>Kaohsiung</div>
      </p-card>
    </div>
    <div class="col-2">
      <p-card>
        <div>
          <img src="./assets/carbon_bus.svg">
        </div>
        <div>其他地區</div>
        <div>Other City</div>
      </p-card>
    </div>
  </div>
</div>
